<h2><%= @region.name %></h2>

<h3>Make a post</h3>
<%= render "posts/form", post: @post %>

<h4>Categories</h4>
<ul>
  <% @region.categories.each do |category| %>
    <li>
      <%= render category, region: @region %>
    </li>
  <% end %>
</ul>


<h3>Posts</h3>
<ul>
  <%= render @posts %>
</ul>
