<h2><%= @region.name %></h2>

<%= render "posts/form", region: @region, post: @post %>

<h3>Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <%= render "posts/post", region: @region, post: post %>
  <% end %>
</ul>
